body {
  background-image: url("./images/paperbg.jpeg");
  overflow-y: hidden;
  
 }
 .header{
  background: #1d1f14;
   position: relative;
margin: 0 auto;
height: 125px;
width: 30%;
text-align: center;
border-radius: 25px;
color: white;
padding-top: 20px;
padding-bottom: 20px;
border: black 2px solid; 
box-shadow: 5px 7px rgba(0,0,0,0.5);
font-size: 40px;
line-height: 20%;
 }

.question{
  background:#c5d1cf;
  text-align: center;
  font-family: 'Lobster', cursive;
  width: 75%;
  height: 80px;
  margin: 15px auto;
  border-radius: 25px;
  padding: 30px;
  box-shadow: 5px 8px #000000;

}
.options{
  text-align: center;
  position:relative;

  margin:0 auto;
  height: 150px;
  width:1000px;
  background:rgba(228, 222, 228, 0.70) ;
  border-radius: 2;
  display: flex ;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
  

}
  
#one {
  background:#DDFFF7;
order: 1;
  margin: 10px;
width: 35%;
flex:1 1 20%;
height: 60px;
border-radius: 15px;
border:black 3px solid;
transition-duration: 0.2s;
padding-top: 20px;
}

#two {
  background: #DDFFF7;
  order: 2;
  margin: 10px;
  width: 35%;
  flex:1 1 20%;
  height: 60px;
  align-self: center;
  border-radius: 15px;
  border:black 3px solid;
  transition-duration: 0.2s;
  padding-top: 20px;
}

#three {
  background:#DDFFF7;
  order: 3;
  margin: 10px;
  width: 35%;
  flex:1 1 20%;
  height: 60px;
  align-self: center;
  border-radius: 15px;
  border:black 3px solid;
  transition-duration: 0.2s;
  padding-top: 20px;
}

#four {
  background: #DDFFF7;
  order: 4;
  margin: 10px;
  width:35%;
  flex:1 1 20%;
  height: 60px;
  border-radius: 15px;
  border:black 3px solid;
  transition-duration: 0.2s;
  padding-top: 20px;
}
#one:hover{border:5px solid;
  background: #93E1D8;
  box-shadow: 5px 7px #888888;
}
#two:hover{border:5px solid;
  background:#93E1D8;
  box-shadow: 5px 7px #888888;
}
#three:hover{border:5px solid;
  background:#93E1D8;
  box-shadow: 5px 7px #888888;
}
#four:hover{border:5px solid;
  background:#93E1D8;
  box-shadow: 5px 7px #888888;
}

a{
  text-decoration: none;
  font-size: 30px;
  color: black;
  font-family: 'Acme', sans-serif;
}

p{
  font-family: 'Crete Round', serif;
}



.hintclass{
  background:#EDE7B1;
  opacity: 75%;
  width:400px;
  height:150px;
  float:left;
  display: inline;
  position: relative;
  margin: 0 15%;
  text-align: center;
  border-radius: 25px;
  box-shadow: 4px 6px ;
  transition-duration: 0.2s;


}
.hintclass:hover{
  opacity: 100%;
  box-shadow: 6px 8px ;
}

.hh{
  font-size: 20px ;
}



#hint {
opacity:0%;
transition-duration: 0.2s;
transition-delay: 0.1s;
}
#hint:hover{
  opacity: 100%;
}

#fifty-fifty{
  background:#EDE7B1;
  opacity: 75%;
  height: 110px;
  width: 400px;
  float: right;
  position: relative;
  margin: 0 15%;
  bottom: 150px;
  transition-duration: 0.2s;
  text-align: center;
  border-radius: 25px;
  padding-top: 40px;
  box-shadow: 4px 6px ;
  font-size: 50px;

}
#fifty-fifty:hover{
  opacity: 100%;
  box-shadow: 6px 8px ;
}






